.container-invite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 70vh;
    text-align: center;

    border: 2px solid black;
    margin: 20px;

}