.bar-navegationFull{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    align-items: center;
    justify-items: center;
    position: fixed;
    z-index: 1000;
    
    width: 90%;
    height: 60px;
    margin: 20px;
    padding: 0px 10px;

    background-color: #416AA8;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    font-size: 15px;

}

.bar-navegationFull a{
    text-decoration: none;
    color: white;
    
    transition: 500ms;

}

.bar-navegationFull a:hover{
    text-decoration: none;
    transform: scale(1.15);
    

}

.opition-nav-bar{
    padding: 5px 15px ;
    background-color: #154f9d;
    border-radius: 20px;
    transition: 200ms;
    
}

.opition-nav-bar:hover{
    background-color: #114180; 
}
