.father-info-class{
  display: flex;
  justify-content: center;
  
  flex-wrap: wrap;

  background-color: #001235;

  margin-top: 50px;

  height: auto;
  width: 100%;

}

.info-class{
  display: flex;
  flex-direction: column;
  gap: 20px;

  text-align: justify;

  height: fit-content;
  width: 70vw;

  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;

  font-size: 18px;
  
}