.father-info-class{
  display: flex;
  justify-content: center;
  
  flex-wrap: wrap;

  background-color: #001235;

  margin-top: 50px;

  height: 150vh;
  width: 100%;

}

.info-class{
  display: flex;
  flex-direction: column;
  gap: 20px;

  text-align: start;

  height: 90vh;
  width: 70vw;

  margin-top: 50px;
  font-size: 18px;
  
}