.thanks{
    display: flex;
    flex-direction: column;
    
    gap: 30px;

    width: 70vw;
    height: auto;
    padding-bottom: 50px;
    margin-top: 20%;

    font-size: 18px;
    text-align: justify;

}

.individual-even{
    display: flex;
    justify-content: center;
    flex-direction: row;

    gap: 20px;
  

    align-items: center;
    
}

.individual-odd{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;

    gap: 20px;
    width: 100%;

    align-items: center;
    
}

.individual-odd h1{
    text-align: end;

}

.photo-individual{
    height: 30vh;
    border-radius: 100%;
    
}

.design-floor{
    background-color: rgb(3, 67, 67);
    height: 100%;
    border:2px solid red;

}

@media (max-width: 800px){
    .individual-even{
        flex-wrap: wrap;

    }

    .individual-even h1{
        text-align: center;

    }

    .individual-odd{
        flex-wrap: wrap;
        
    }

    .individual-odd h1{
        text-align: center;

    }
}