.thanks{
    display: flex;
    flex-direction: column;
    gap: 30px;

    width: 70vw;
    height: auto;
    padding-bottom: 50px;

    font-size: 18px;
    text-align: justify;

}

.individual{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

}

.photo-individual{
    width: 30vw;
    height: 30vh;
    border-radius: 100%;
    

}