.bar-navegationFull{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    align-items: center;
    justify-items: center;
    position: fixed;
    
    width: 90%;
    height: 70px;
    margin: 20px;

    background-color: #416AA8;
    border-radius: 20px;
    

}

.bar-navegationFull a{
    text-decoration: none;
    color: white;
    
    transition: 300ms;

}

.bar-navegationFull a:hover{
    text-decoration: none;
    transform: scale(1.15);
    

}

.opition-nav-bar{
    padding: 5px 15px ;
    background-color: #154f9d;
    border-radius: 20px;
    transition: 200ms;
    
}

.opition-nav-bar:hover{
    background-color: #114180; 
}
